# macOS
.DS_Store

# Gradle
.gradle
build/

# Maven
target/

# IntelliJ Idea
.idea/
*.iml

# For ObjectBox:
# ObjectBox platform libraries
libobjectbox*.dylib
libobjectbox*.so
objectbox*.dll
# ObjectBox database files
data.mdb
lock.mdb
# ObjectBox model backup file
default.json.bak
